<div class="">
            <div class="content-box-large">
              <div class="panel-heading">
              <div class="panel-title">Api Daily Usage</div>
              
              <div class="panel-options">
                <a href="#" data-rel="collapse"><i class="glyphicon glyphicon-refresh"></i></a>
                <a href="#" data-rel="reload"><i class="glyphicon glyphicon-cog"></i></a>
              </div>
            </div>
              <div class="panel-body">
                <div id="hero-area" style="height: 230px;"></div>
              </div>
            </div>
    
            <div class="content-box-large">
              <div class="panel-heading">
              <div class="panel-title">Api Monthly growth</div>
              
              <div class="panel-options">
                <a href="#" data-rel="collapse"><i class="glyphicon glyphicon-refresh"></i></a>
                <a href="#" data-rel="reload"><i class="glyphicon glyphicon-cog"></i></a>
              </div>
            </div>
              <div class="panel-body">
                <div id="hero-graph" style="height: 230px;"></div>
              </div>
            </div>
    
            <br />
            <br />
            <br />
            
    
            
    
            
    
    
          </div>