<div class="content-box-large">
      <div class="panel-heading">
      <h5 class="panel-title">Languages Included</h5>
      
      <div class="panel-options">
        <a href="#" data-rel="collapse"><i class="glyphicon glyphicon-refresh"></i></a>
        <a href="#" data-rel="reload"><i class="glyphicon glyphicon-cog"></i></a>
      </div>
    </div>
      <div class="panel-body">
        <table class="table">
              <tbody>
                <tr class="success">
                  <td>English</td>
                </tr>
                <tr class="danger">
                  <td>German</td>
                </tr>
                <tr class="warning">
                  <td>French</td>
                </tr>
              </tbody>
            </table>
      </div>

      <br />

      <div class="panel-heading">
          <h5 class="panel-title">System Default Parameters</h5>
          
          <div class="panel-options">
            <a href="#" data-rel="collapse"><i class="glyphicon glyphicon-refresh"></i></a>
            <a href="#" data-rel="reload"><i class="glyphicon glyphicon-cog"></i></a>
          </div>
        </div>
          <div class="panel-body">
            <table class="table">
                  <tbody>
                  </tbody>
                </table>
          </div>
    </div>